.navbar-wrap {
  background: rgba(141, 137, 137, 0.1);
  border-radius: 16px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.5);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255,255,255,0.3);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 20px;
  left: 5%;
  width: 90%;
  border-radius: 25px;
  z-index: 999;
}

.navbar-logo {
  font-weight: 900;
  letter-spacing: 5px;
  font-size: 22px;
  color: rgba(0,0,0,0.9);
  overflow: hidden;
  white-space: nowrap;
  animation: typeAnim 2s steps(12) alternate infinite;
  border-right: 2px solid rgb(10,10,10);
  text-shadow: 2px 2px rgba(13,110,253,0.5);
}

@keyframes typeAnim {
  0% { width: 0; }
  100% { width: 230px; }
}

.navbar-links {
  display: flex;
  gap: 20px;
  font-weight: bolder;
  list-style: none;
}

.navbar-links a {
  color: black;
  padding: 6px 10px;
  border-radius: 8px;
  transition: all 0.3s;
}

.navbar-links a:hover {
  background-color: rgba(13,110,253,0.5);
  color: white;
  transform: scale(1.1);
}

.navbar-burger {
  display: none;
  flex-direction: column;
  gap: 5px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
}

.navbar-mobile {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
  top: 110%;
  background: white;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  overflow: hidden;
  z-index: 999;
}

.navbar-mobile a {
  color: black;
  display: block;
  text-align: center;
  border: 1px solid black;
  border-radius: 10px;
  margin: 3px;
  padding: 8px 20px;
}

@media (max-width: 750px) {
  .navbar-links { display: none; }
  .navbar-burger { display: flex; }
}
